In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import gridspec
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [4]:
dataset = pd.read_csv("creditcard.csv")
print(dataset.shape)
print(dataset.head())

(284807, 31)
   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [8]:
fraud = dataset[dataset["Class"] == 1]
legit = dataset[dataset["Class"] == 0]
fraction = len(fraud)/float(len(legit))
print(f"The total fraction of fraud is {fraction}")
print(f"Fraud Cases: {len(fraud)}")
print(f"Valid Transactions: {len(legit)}")

The total fraction of fraud is 0.0017304750013189597
Fraud Cases: 492
Valid Transactions: 284315

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
dataset.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [10]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [31]:
legit.Amount.describe()

577.8760162601626

In [12]:
dataset.groupby('Class').mean()

# Mean of those two real and fake classes are way more than thought but data is unbalanced

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

**RANDOM FOREST ALGORITHM**

In [35]:
Data = pd.concat([legit, fraud], axis = 0)

X = Data.drop(['Class'], axis = 1)
Y = Data['Class']

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

Model_RF = RandomForestClassifier()
Model_RF.fit(X_train, Y_train)
Y_train_pred = Model_RF.predict(X_train)
Y_test_pred = Model_RF.predict(X_test)

training_accuracy = accuracy_score(Y_train_pred, Y_train)
test_accuracy = accuracy_score(Y_test_pred, Y_test)

print(f"The accuracy is {test_accuracy}")

The accuracy is 0.9995435553526912

**RANDOM FOREST ALGORITHM + UNDERSAMPLING**

In [33]:
accuracy = 0

for i in range(500):
  legit_sample = legit.sample(492)
  newdataset = pd.concat([legit_sample, fraud], axis = 0)

  X = newdataset.drop(['Class'], axis = 1)
  Y = newdataset['Class']

  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

  Model_RF = RandomForestClassifier()
  Model_RF.fit(X_train, Y_train)
  Y_train_pred = Model_RF.predict(X_train)
  Y_test_pred = Model_RF.predict(X_test)

  training_accuracy = accuracy_score(Y_train_pred, Y_train)
  test_accuracy = accuracy_score(Y_test_pred, Y_test)

  if (test_accuracy > accuracy):
    accuracy = test_accuracy

print(f"The Accuracy using Random Forest with undersampling is {accuracy}")

The Accuracy is 0.9390862944162437

**LOGISTIC REGRESSION + UNDERSAMPLING**

In [39]:
accuracy = 0

for i in range(500):
  legit_sample = legit.sample(492)
  newdataset = pd.concat([legit_sample, fraud], axis = 0)

  X = newdataset.drop(['Class'], axis = 1)
  Y = newdataset['Class']

  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify = Y, random_state=2)

  Model_LR = RandomForestClassifier()
  Model_LR.fit(X_train, Y_train)
  Y_train_pred = Model_LR.predict(X_train)
  Y_test_pred = Model_LR.predict(X_test)

  training_accuracy = accuracy_score(Y_train_pred, Y_train)
  test_accuracy = accuracy_score(Y_test_pred, Y_test)

  if (test_accuracy > accuracy):
    accuracy = test_accuracy

print(f"The Accuracy using Logistic Regression with undersampling is {accuracy}")

The Accuracy using Logistic Regression with undersampling is 0.9441624365482234